body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header as a navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

/* Style navigation links */
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

/* Add hover effect to navigation links */
nav ul li a:hover {
    background-color: #555;
}

#aboutMe {
    margin-top: 80px; /* Adjust the margin to create space below the navbar */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#aboutMe {
    font-size: 24px;
    color: #333;
}

#aboutMe {
    font-size: 16px;
    color: #555;
}